html {
    background-color: aquamarine;
}

body {
    margin: 3rem;
}

/* Class-selection styling */
.dropdown_button {
    background-color: grey;
    color: white;
    padding: 12px 36px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: arial;
}

.dropdown_selection {
    position: relative;
    display: inline-block;
}

.dropdown_links {
    display: none;
    position: absolute;
    background-color: grey;
    border-radius: 8px;
    z-index: 1;
}

.dropdown_links a {
    color: white;
    padding: 12px 36px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    font-family: arial;
}

.dropdown_links a:hover {
    background-color: lightslategrey;
}

.dropdown_selection:hover .dropdown_links {
    display: block;
}

.dropdown_selection:hover .dropdown_button {
    background-color: lightslategrey;
}


/* navigation-bar styling */
.navbar {
    background-color: pink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    background-color: grey;
    width: 100%;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    overflow: hidden;
}

/* #navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    background-color: grey;
    width: 100%;
} */

li {
    float: left;
    /* padding: 12px 36px; */
    font-size: 20px;
    display: block;
    background-color: grey;
}

li:hover {
    background-color: lightslategrey;
}

.some_selection {
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 12px 36px;
}



/* BUTTON TEST STYLING */
#Test {
    visibility: hidden;
}